{% extends "shop/base.html" %}
{% load static %}
{% block title %}
GDRP
{% endblock %}
{% block content %}
<h1>DGRP</h1>

<p>
    Company DIGITEK International s.r.o. , with its registered office at Chudenická 1059/30, Hostivař, 102 00 Prague 10,
    IČ 28908872, registered at the Municipal Court in Prague, Section 3, Insert 152499 (hereinafter referred to as the
    “seller” or “administrator”) EU) No 2016/679 on the protection of individuals with regard to the processing of
    personal data and on the free movement of such data and repealing Directive 95/46 / EC (General Data Protection
    Regulation) (hereinafter “the Regulation”), the following personal data:name surnamee-mail adresstelephone
    numberaddress / registered office

    The above personal data must be processed for the processing of orders and other performance of the contract, if a
    purchase contract is concluded between you and the seller. Such processing of personal data is permitted by Article
    6 (1) (a). b) Regulation – processing is necessary to fulfill the contract.The seller also processes this data for
    the purpose of registering the contract and possible future application and defending the rights and obligations of
    the parties. The storage and processing of personal data is for the above purpose for a period of 7 years from the
    implementation of the last part of the performance under the contract, unless another legal regulation requires the
    storage of contractual documentation for a longer period. Such processing is possible on the basis of Article 6 (1)
    (a). c) and f) Regulation – processing is necessary to fulfill the legal obligation and for the purposes of the
    legitimate interests of the controller.

    News and other business messages may be sent to the buyer by e-mail address or telephone number, this procedure is
    enabled by Section 7, Paragraph 3 of Act No. 480/2004 Coll., On Information Society Services, unless the buyer
    rejects it. These communications can be unsubscribed at any time, for example by sending an email or clicking on a
    link in a business communication.

    The processing of personal data is therefore performed by the personal data controller. Personal data for this
    administrator are also processed by processors: Revolut Bank UAB (a company incorporated in the Republic of
    Lithuania with company number 304580906 and whose registered office and head office is at Konstitucijos ave. 21B,
    08130 Vilnius, the Republic of Lithuania) VÁŠ ÚČETNÍ s.r.o.Politických vězňů 911/8 PRAHA; Česká pošta,
    s.p.Politických vězňů 909/4,225 99 Praha 1; SIA ATD Baltics Uriekstes 14a Riga Latvia 1005. Personal data will not
    be transferred to third countries outside the EU.

    The administrator does not have the person of the so-called commissioner. The administrator can be contacted at the
    email address info@digitek.cz6. The administrator of personal data, as the operator of the website www.dune-hd.eu,
    www.dune-hd.cz, uses cookies on this website, which are used here for the purpose of:measuring website traffic and
    generating statistics regarding website traffic and behaviorbasic functionality of the website

    The collection of cookies for the purposes stated above may be considered the processing of personal data. Such
    processing is possible on the basis of a legal reason – the legitimate interest of the controller, and is allowed by
    Article 6 paragraph 1 letter. f) Regulation.
    The website can also be used in a mode that does not allow the collection of data on the behavior of website
    visitors – this mode can be set either in the browser settings, or it is possible to raise an objection to such
    collection based on the administrator’s legitimate interest under Article 21 of the Regulation. at the bottom of the
    website. Your dispute will be evaluated immediately. Cookies necessary for the functionality of the website will be
    kept only for the time necessary for the functioning of the website.
    If the visitor objects to the processing of technical cookies necessary for the functioning of the website, the full
    functionality and compatibility of the website cannot be guaranteed in such a case.
    Cookies, which are collected for the purpose of measuring website traffic and generating statistics regarding
    traffic and behavior of visitors to the website, are assessed in the form of a bulk unit and in an anonymous form,
    which does not allow the identification of an individual.
    The collected cookies are processed by other processors:
    Provided by Google Analytics, operated by Google Inc., at 1600 Amphitheater Parkway, Mountain View, CA 94043, USA

    Please note that under the Regulation you have the right to:
    cancel the sending of commercial messages at any time,
    raise an objection to the processing on the basis of the legitimate interest of the controller,
    request information from us about your personal data,
    request access to this data from us and have it updated or corrected, or request processing restrictions,
    request the deletion of this personal data from us, we will perform the deletion, unless it is in conflict with
    applicable law or the legitimate interests of the administrator,
    the portability of data in the case of automated processing by consent or by reason of performance of the contract,
    request a copy of the personal data processed,
    to effective judicial protection if you consider that your rights under the Regulation have been infringed as a
    result of the processing of your personal data in breach of this Regulation,
    file a complaint with the Office for Personal Data Protection.

    **********************

    Společnost DIGITEK International s.r.o. , se sídlem Chudenická 1059/30, Hostivař, 102 00 Praha 10, IČ 28908872,
    zapsaná u Městského soudu v Praze, oddíl 3, vložka 152499 (dále jen „prodávající“ nebo „správce“) zpracovává ve
    smyslu nařízení Evropského parlamentu a Rady (EU) č. 2016/679 o ochraně fyzických osob v souvislosti se zpracováním
    osobních údajů a o volném pohybu těchto údajů a o zrušení směrnice 95/46/ES (obecné nařízení o ochraně osobních
    údajů)(dále jen „Nařízení“), následující osobní údaje:
    jméno, příjmení
    e-mailovou adresu
    telefonní číslo
    adresu/sídlo

    Výše uvedené osobní údaje je nutné zpracovat pro odbavení objednávek a další plnění ze smlouvy, pokud mezi vámi a
    prodávajícím dojde k uzavření kupní smlouvy. Takové zpracování osobních údajů umožňuje čl. 6 odst. 1 písm. b)
    Nařízení – zpracování je nezbytné pro splnění smlouvy.
    Prodávající zpracovává tyto údaje rovněž za účelem evidence smlouvy a případného budoucího uplatnění a obranu práv a
    povinností smluvních stran. Uchování a zpracování osobních údajů je za výše uvedeným účelem po dobu 7 let od
    realizace poslední části plnění dle smlouvy, nepožaduje-li jiný právní předpis uchování smluvní dokumentace po dobu
    delší. Takové zpracování je možné na základě čl. 6 odst. 1 písm. c) a f) Nařízení – zpracování je nezbytné pro
    splnění právní povinnosti a pro účely oprávněných zájmů správce.

    Na e-mailovou adresu, případně telefonní číslo mohou být kupujícímu zasílány novinky a jiná obchodní sdělení, tento
    postup umožňuje § 7 odst. 3 zákona č.480/2004 Sb., o službách informační společnosti, pokud jej kupující neodmítne.
    Tato sdělení lze kdykoliv jakýmkoliv způsobem – například zasláním e-mailu nebo proklikem na odkaz v obchodním
    sdělení – odhlásit.

    Zpracování osobních údajů je prováděno tedy správcem osobních údajů. Osobní údaje pro tohoto správce zpracovávají
    také zpracovatelé:

    Revolut Bank UAB (a company incorporated in the Republic of Lithuania with company number 304580906 and whose
    registered office and head office is at Konstitucijos ave. 21B, 08130 Vilnius, the Republic of Lithuania)
    Zásilkovna s.r.o. Lihovarská 1060/12 190 00 Praha 9; VÁŠ ÚČETNÍ s.r.o.Politických vězňů 911/8 PRAHA; Česká pošta,
    s.p.Politických vězňů 909/4,225 99 Praha 1; SIA ATD Baltics Uriekstes 14a Riga Latvia 1005. Osobní údaje nebudou
    předány do třetích zemí mimo EU.

    Správce nemá osobu tzv. pověřence. Správce lze kontaktovat na emailové adrese info@digitek.cz

    Správce osobních údajů, jakožto provozovatel webové stránky www.dune-hd.eu , www.dune-hd.cz , užívá na této webové
    stránce soubory cookies, které jsou zde užity za účelem:
    měření návštěvnosti webových stránek a vytváření statistik týkající se návštěvnosti a chování návštěvníků na
    webových stránkách
    základní funkčnosti webových stránek

    Sběr cookies za účelem uvedeným výše může být považováno za zpracování osobních údajů. Takové zpracování je možné na
    základě zákonného důvodu – oprávněného zájmu správce, a umožňuje ho čl. 6 odst. 1 písm. f) Nařízení.
    Webové stránky lze používat i v režimu, který neumožňuje sbírání údajů o chování návštěvníků webu – tento režim je
    možný buďto nastavit v rámci nastavení prohlížeče, nebo je možné vznést proti takovému sběru na základě oprávněného
    zájmu správce námitku dle čl. 21 Nařízení, která je dostupná v dolní části webových stránek. Vaše námitka bude
    vyhodnocena bezodkladně. Cookies nezbytné pro funkčnost webu budou uchovány pouze po dobu nezbytně nutnou pro
    fungování webu.
    Vznese-li návštěvník námitku proti zpracování technických cookies nezbytných pro fungování webových stránek, nelze v
    takovém případě zaručit plnou funkčnost a kompatibilitu webových stránek.
    Cookies, které jsou sbírány za účelem měření návštěvnosti webu a vytváření statistik týkající se návštěvnosti a
    chování návštěvníků na webu, jsou posuzovány v podobě hromadného celku a v anonymní podobě, která neumožňuje
    identifikaci jednotlivce.
    Shromážděné cookies soubory jsou zpracovány dalšími zpracovateli:

    Revolut Bank UAB (a company incorporated in the Republic of Lithuania with company number 304580906 and whose
    registered office and head office is at Konstitucijos ave. 21B, 08130 Vilnius, the Republic of Lithuania)
    Poskytovatelem služby Google Analytics, provozované společností Google Inc., sídlem 1600 Amphitheatre Parkway,
    Mountain View, CA 94043, USA


    Vezměte, prosíme, na vědomí, že podle Nařízení máte právo:
    zrušit kdykoliv zasílání obchodních sdělení,
    vznést námitku proti zpracování na základě oprávněného zájmu správce,
    požadovat po nás informaci, jaké vaše osobní údaje zpracováváme,
    vyžádat si u nás přístup k těmto údajům a tyto nechat aktualizovat nebo opravit, popřípadě požadovat omezení
    zpracování,
    požadovat po nás výmaz těchto osobních údajů, výmaz provedeme, pokud to nebude v rozporu s platnými právními
    předpisy nebo oprávněnými zájmy správce,
    na přenositelnost údajů, pokud se jedná o automatizované zpracování na základě souhlasu nebo z důvodu plnění
    smlouvy,
    požadovat kopii zpracovávaných osobních údajů,
    na účinnou soudní ochranu, pokud máte za to, že vaše práva podle Nařízení byla porušena v důsledku zpracování vašich
    osobních údajů v rozporu s tímto nařízením, podat stížnost u Úřadu pro ochranu osobních údajů.
</p>

{% endblock %}