{% extends "shop/base.html" %}
{% load static %}
{% block title %}
Payment option
{% endblock %}
{% block content %}
<h1>Payment option</h1>

<p>
    Direct bank transfer. You can make a payment to our bank account.

    The company: Digitek international sro
    Bank: Fio banka, as,
    IBAN CZ6620100000002300827164
    BIC FIOBCZPPXXX
    Bank address:
    Fio banka, as, V Celnici 1028/10, 117 21 Prague Czech Republik


    MASTERCARD, VISA payment. It is operated by Revolut https://www.revolut.com/

    Payment on delivery (COD) . Cash on delivery. In some countries, you have the option to pay by cash on delivery.
    We reserve the right to request proof of address. However, we do need to pay a postage deposit. The amount paid in
    the deposit will be credited towards the order. If you do not redeem your order by mail, the deposit is
    non-refundable and will be used to cover the postage incurred by us. For Bulgaria, Croatia, Hungary, Poland, Romania
    we use National Bank exchange rate + 3%
    for Cash On Delivery payment . Nationak banks :
</p>

{% endblock %}