{% extends "shop/base.html" %}
{% load static %}
{% block title %}
Shipping
{% endblock %}
{% block content %}
<h1>Delivery to countries non EU</h1>

<p>
    Delivery to countries non EU.
    We are happy to send your order to countries not included in the list. To clarify the conditions, write us a message
    with your wish.
    It should be noted for non-EU countries, when you return the goods within
    14 days, postage costs will not be refunded. We will not reimburse you for the amount you spent in your country when
    customs
    clearance of the order. In addition, the amount refunded to you may be reduced by the costs incurred by us due to
    customs payments and clearance.
    Also, warranty repairs will be performed free of charge, but transportation costs are not reimbursed.
</p>

{% endblock %}