{% extends "shop/base.html" %}
{% load static %}
{% block title %}
Support
{% endblock %}
{% block content %}
<h1>Support</h1>

<p>
    Online user manual http://dune-hd.com/eng/support/online_manual/getting_started

    Software http://dune-hd.com/firmware/

    Access to HDD disk from computer : START \\ip-adress of Dune HD

    If you have a recurring problem, please send a dump to support@dune-hd.com . It’s easy to do.

    Right after reproducing the problem, do “Setup / Misc / Support / Send Debug Dump/ wait about 5 min“, and send to
    support@dune-hd.com
    the following information: ID of the created debug dump (it will be shown on the TV screen),
    and description of the steps you performed to reproduce the problem (so that we could try to repeat the problem on
    our side to check if there is a solution for it).
</p>

{% endblock %}