{% extends "shop/base.html" %}
{% load static %}
{% block title %}
Terms and Conditions.
{% endblock %}
{% block content %}
<h1> Terms and Conditions.</h1>

<p>
    Terms and Conditions.

    Trading companies DIGITEK International s.r.o.

    with its registered office at Chudenická 1059/30, Hostivař, 102 00 Prague 10 Czech Republik

    identification number: 28908872

    entered in the Commercial Register kept at the Municipal Court in Prague, Section C, Insert 152499

    for the sale of goods through an online store located at www.dune-hd.eu

    1. INTRODUCTORY PROVISIONS

    1.1. These terms and conditions (hereinafter referred to as “terms and conditions”) of DIGITEK International s.r.o.
    , with its registered office at Chudenická 1059/30, Hostivař, 102 00 Prague 10, identification number: 28908872,
    entered in the Commercial Register kept at the Municipal Court in Prague, Section C, Insert 152499 (hereinafter
    referred to as the “seller”) in accordance with § 1751 paragraph 1 of Act No. 89/2012 Coll., Civil Code (hereinafter
    the “Civil Code”) mutual rights and obligations of the parties arising in connection with or on the basis of a
    purchase contract (hereinafter “purchase contract”) concluded between the seller and another natural person
    (hereinafter referred to as the “Buyer”) through the seller’s online store. The internet shop is operated by the
    seller on a website located at the internet address www.dune-hd.cz (hereinafter referred to as the “website”),
    through the interface of the website (hereinafter referred to as the “web interface of the shop”).

    1.2. The business conditions do not apply to cases where the person who intends to purchase goods from the seller is
    a legal entity or a person who acts when ordering goods in the course of their business or in the course of their
    independent profession.

    1.3. Provisions deviating from the business conditions can be agreed in the purchase contract. Deviating provisions
    in the purchase contract take precedence over the provisions of the terms and conditions.

    1.4. The provisions of the business conditions are an integral part of the purchase contract. The purchase contract
    and business conditions are drawn up in the Czech language. The purchase contract can be concluded in the Czech
    language.

    1.5. The wording of the terms and conditions may be changed or supplemented by the seller. This provision does not
    affect the rights and obligations arising during the period of validity of the previous version of the terms and
    conditions.

    2. USER ACCOUNT

    2.1. Based on the buyer’s registration made on the website, the buyer can access its user interface. From its user
    interface, the buyer can order goods (hereinafter referred to as “user account”). If the web interface of the store
    allows it, the buyer can also order goods without registration directly from the web interface of the store.

    2.2. When registering on the website and when ordering goods, the buyer is obliged to state all data correctly and
    truthfully. The buyer is obliged to update the data specified in the user account in the event of any change. The
    data provided by the buyer in the user account and when ordering goods are considered correct by the seller.

    2.3. Access to the user account is secured by a username and password. The buyer is obliged to maintain
    confidentiality regarding the information necessary to access his user account.

    2.4. The buyer is not entitled to allow the use of the user account to third parties.

    2.5. The seller may cancel the user account, especially if the buyer does not use his user account longer than, or
    if the buyer violates its obligations under the purchase agreement (including the terms and conditions).

    2.6. The buyer acknowledges that the user account may not be available around the clock, especially with regard to
    the necessary maintenance of hardware and software equipment of the seller, or. necessary maintenance of third party
    hardware and software.

    3. CONCLUSION OF THE PURCHASE AGREEMENT

    3.1. All presentation of goods placed in the web interface of the store is of an informative nature and the seller
    is not obliged to enter into a purchase agreement regarding these goods. The provisions of § 1732 para. 2 of the
    Civil Code shall not apply.

    3.2. The web interface of the store contains information about the goods, including the prices of individual goods
    and the cost of returning the goods, if the goods cannot, by their nature, be returned by regular mail. The prices
    of goods are listed including value added tax and all related fees. The prices of the goods remain valid as long as
    they are displayed in the web interface of the store. This provision does not limit the seller’s ability to enter
    into a purchase agreement under individually agreed conditions.

    3.3. The web interface of the store also contains information on the costs associated with the packaging and
    delivery of goods.

    3.4. To order goods, the buyer fills in the order form in the web interface of the store. The order form contains in
    particular information about:

    3.4.1. the ordered goods (the ordered goods are “inserted” by the buyer into the electronic shopping cart of the web
    interface of the store),

    3.4.2. the method of payment of the purchase price of the goods, information on the required method of delivery of
    the ordered goods and

    3.4.3. information on the costs associated with the delivery of goods (hereinafter collectively referred to as
    “order”).

    3.5. Before sending the order to the seller, the buyer is allowed to check and change the data that the buyer has
    entered in the order, even with regard to the buyer’s ability to detect and correct errors made when entering data
    into the order. The buyer sends the order to the seller by clicking on the “Order” button. The data listed in the
    order they are deemed correct by the seller. Immediately after receiving the order, the Seller will confirm this
    receipt to the Buyer by e-mail to the Buyer’s e-mail address specified in the user account or in the order
    (hereinafter referred to as the “Buyer’s e-mail address”).

    3.6. Depending on the nature of the order (quantity of goods, purchase price, estimated shipping costs), the seller
    is always entitled to ask the buyer for additional confirmation of the order (for example, in writing or by
    telephone).

    3.7. The contractual relationship between the seller and the buyer arises from the delivery of the acceptance of the
    order (acceptance), which is sent by the seller to the buyer by e-mail to the buyer’s e-mail address.

    3.8. The buyer agrees to the use of means of distance communication when concluding the purchase contract. The costs
    incurred by the buyer in the use of means of distance communication in connection with the conclusion of the
    purchase contract (costs of internet connection, costs of telephone calls) shall be borne by the buyer himself, and
    these costs do not differ from the basic rate.

    4. PRICE OF GOODS AND PAYMENT TERMS

    4.1. The price of the goods and any costs associated with the delivery of goods under the purchase agreement, the
    buyer may pay the seller in the following ways:

    cashless transfer to the seller’s account IBAN CZ6620100000002300827164, kept with the company FIO banka
    (hereinafter referred to as the “seller’s account”) or cash on delivery.

    4.2. Along with the purchase price, the buyer is obliged to pay the seller the costs associated with packaging and
    delivery of goods in the agreed amount. Unless expressly stated otherwise, the purchase price also includes the
    costs associated with the delivery of goods.

    4.3. The seller does not require a deposit or other similar payment from the buyer. This does not affect the
    provisions of Article 4.6 of the Terms and Conditions regarding the obligation to pay the purchase price of the
    goods in advance.

    4.4. In the case of cash on delivery, the purchase price is payable upon receipt of the goods. In the case of
    non-cash payment, the purchase price is payable within 4 days of concluding the purchase contract.

    4.5. In the case of non-cash payment, the buyer is obliged to pay the purchase price of the goods together with the
    order number. In the case of non-cash payment, the buyer’s obligation to pay the purchase price is fulfilled when
    the relevant amount is credited to the seller’s account.

    4.6. The seller is entitled, especially in the event that the buyer does not provide additional confirmation of the
    order (Article 3.6), to demand payment of the full purchase price before sending the goods to the buyer. The
    provisions of § 2119 par. 1 of the Civil Code shall not apply.

    4.7. Any discounts on the price of goods provided by the seller to the buyer cannot be combined with each other.

    4.8. If this is customary in business relations or if so stipulated by generally binding legal regulations, the
    seller shall issue a tax document – an invoice – to the buyer regarding payments made on the basis of the purchase
    contract. The seller is a payer of value added tax. The tax document – invoice is issued by the seller to the buyer
    after payment of the price of the goods and is sent in electronic form to the electronic address of the buyer or in
    paper form together with the goods.

    5. WITHDRAWAL FROM THE PURCHASE AGREEMENT

    5.1. The buyer acknowledges that according to the provisions of § 1837 of the Civil Code, it is not possible to
    withdraw from the purchase contract for the supply of goods, which was modified according to the wishes of the buyer
    or for him, from the purchase contract for the delivery of perishable goods and goods , which has been irretrievably
    mixed with other goods after delivery, from the purchase contract for the supply of goods in a sealed package, which
    the consumer has removed from the packaging and cannot be returned for hygienic reasons, and from the purchase
    contract for the supply of audio or video recording or computer program original packaging.

    5.2. If it is not a case referred to in Article 5.1 of the Terms and Conditions or another case where it is not
    possible to withdraw from the purchase contract, the buyer has the right to withdraw from the purchase contract in
    accordance with § 1829 paragraph 1 of the Civil Code within fourteen (14 ) days from the receipt of the goods, and
    in the event that the subject of the purchase contract is several types of goods or delivery of several parts, this
    period runs from the date of receipt of the last delivery of goods. Withdrawal from the purchase contract must be
    sent to the seller within the period specified in the previous sentence. Withdrawal from the purchase contract can
    be sent by the buyer to the address of the seller’s office or to the seller’s e-mail address info@digitek.cz.

    5.3. In the event of withdrawal from the purchase contract pursuant to Article 5.2 of the Terms and Conditions, the
    purchase contract is canceled from the beginning. The goods must be returned to the seller within fourteen (14) days
    of withdrawal from the contract to the seller. If the buyer withdraws from the purchase contract, the buyer bears
    the costs associated with the return of goods to the seller, even if the goods can not be returned due to its nature
    by regular mail.

    5.4. In the event of withdrawal from the contract pursuant to Article 5.2 of the Terms and Conditions, the seller
    will return the funds received from the buyer within fourteen (14) days of withdrawal from the purchase contract by
    the buyer, in the same way as the seller received from the buyer. The seller is also entitled to return the
    performance provided by the buyer when returning the goods to the buyer or otherwise, if the buyer agrees and the
    buyer does not incur additional costs. If the buyer withdraws from the purchase contract, the seller is not obliged
    to return the received funds to the buyer before the buyer returns the goods.

    5.5. The seller is entitled to unilaterally set off the right to compensation for damage caused to the goods against
    the buyer’s right to a refund of the purchase price.

    5.6. In cases where the buyer has the right to withdraw from the purchase contract in accordance with the provisions
    of § 1829 paragraph 1 of the Civil Code, the seller is also entitled to withdraw from the purchase contract at any
    time, until the goods are taken over by the buyer. In such a case, the seller will return the purchase price to the
    buyer without undue delay, non-cash to the account designated by the buyer.

    5.7. If a gift is provided to the buyer together with the goods, the gift contract between the seller and the buyer
    is concluded with the untying condition that if the buyer withdraws from the purchase contract, the gift contract
    for such a gift ceases to be effective and the buyer is obliged to return given a gift.

</p>

{% endblock %}